@tailwind base;
@tailwind components;
@tailwind utilities;

ul a.active{
    color: #f39c12;
    font-weight: 600;
    border-bottom: 2px solid #f39c12;
}

.background-img{
    background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url(../src/assets/images/Error-pic/error-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}