@tailwind base;
@tailwind components;
@tailwind utilities;

ul a.active{
    color: #f39c12;
    font-weight: 600;
    border-bottom: 2px solid #f39c12;
}

.background-img{
    background-image: url(../src/assets/images/Error-pic/four-o-four.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}